.content {
    height: 100%;
}

.forma {
    padding: 0 28px;
    width: 60%;
    height: 100%;
    background-color: #fff;
}

.forma form div {
    width: 100%;
    margin-right: 18px;
}

.forma form div button {
    margin-top: 8px;
}

.forma form {
    display: flex;
    flex-direction: row;
}

.forma h1 {
    width: fit-content;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}

.dodatni {
    margin: 6px 0;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

.input input[type="text"],
.input input[type="number"] {
    height: 28px;
    border-radius: 5px;
    background-color: #F1F3F4;
    outline: none;
    border: none;
    padding-left: 5px;
}

.input input[type="text"]:focus {
    border: 2px solid #2667FF;
}

.forma input[type="submit"] {
    width: 100%;
    height: 28px;
    border-radius: 5px;
    background-color: #ADD7F6;
    outline: none;
    border: none;
}

.forma input[type="submit"]:hover {
    cursor: pointer;
    background-color: #8ec8f2;
}